.verde{
    background-color: #B4FF9F;
}

.amarelo{
    background-color: #F9FFA4;
}
.rosa{
    background-color: #FF7396;
}
.roxo{
    background-color: #9A86A4;
}
.cinza{
    background-color: #9D9D9D;
}